@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  margin: 0;
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'), url('./fonts/Montserrat-Light.ttf') format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Montserrat Light', sans-serif;
}